                    <!-- set up the modal to start hidden and fade in and out -->
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- dialog body -->
                                <div class="modal-body">
                                    <h4 align="left">Informe no disponible: No se registran cuestionarios aptos en las evaluaciones seleccionadas.</h4>
                                </div>
                                <!-- dialog buttons -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary aceptar">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>