<!-- set up the modal to start hidden and fade in and out -->
<div id="modalCandidatosActivos" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <h4 align="center">Existen candidatos que tienen
                    cuestionarios</h4>
                <h4 align="center">activos y no pueden ser evaluados:</h4>
                <br>
                <div class="row candidatosActivos"></div>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary aceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- set up the modal to start hidden and fade in and out -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <h4 align="center">Debe agregar al menos un Candidato al listado Evaluar
                    para continuar.</h4>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary aceptar">Aceptar</button>
            </div>
        </div>
    </div>
</div>

    <div id="busquedaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <h4 align="center">Debe completar un campo de búsqueda.</h4>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary aceptar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>