<div id="modalEliminar" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <h4>Los datos del Puesto serán eliminados del sistema.</h4>
                    <h4>¿Desea continuar?</h4>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary eliminar">Si</button>
                    <button type="button" class="btn btn-primary noEliminar">No</button>
                </div>
            </div>
        </div>
    </div>
    <div id="busquedaModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                    <h4 align="center">Debe completar un campo de búsqueda.</h4>
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary aceptar">Aceptar</button>
                </div>
            </div>
        </div>
    </div>